# Dependencies (jangan pernah di-copy)
node_modules
npm-debug.log
yarn-error.log
pnpm-error.log

# Build output
dist
.build
.nuxt
out

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# VSCode / Editor
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Docs
*.md
