services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: express-app-dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.prisma
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
        npx prisma migrate dev --name init &&
        npx prisma generate &&
        npm run dev
      "
  db:
    image: postgres:16-alpine
    container_name: postgres_dev
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      retries: 5
