services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: express-app-dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.prisma
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
        npx prisma migrate dev --name init &&
        npx prisma generate &&
        npm run dev
      "